*{padding: 0;margin: 0;}
body{background: #cee5ed}
.slot_inner:first-child{border-top:1px solid #333}
.slot_inner{border-bottom:1px solid #333;border-right:1px solid #333;border-left:1px solid #333;padding:5px;}
.slotGame h1{text-align: center;font-size: 25px;background: #fff;padding: 15px 0;font-weight: 500}
.slot_inner h1{font-size: 15px;padding: 0;padding-bottom: 5px;background-color: transparent;}
.slotMachine{width: 450px;margin:20px auto;}
